:root{
    --card-size: 150px;
}

#grid{
    height: calc(var(--card-size) * 3);
    width: calc(var(--card-size) * 4);
}

/* STRUTTURA CARD */
.card1{
    min-width: 60px;
    min-height: 60px;
    background-image: url("./img/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* SFONDO SINGOLE CARD */
.alien{
    background-image: url("./img/alien.png");
}

.bug{
    background-image: url("./img/bug.png");
}

.duck{
    background-image: url("./img/duck.png");
}

.rocket{
    background-image: url("./img/rocket.png");
}

.spaceship{
    background-image: url("./img/spaceship.png");
}

.tiktac{
    background-image: url("./img/tiktac.png");
}