:root{
    --road-size: 45px;
}

#grid{
    width: calc(var(--road-size)*10);
    height: 400px;
    /* justify-content: space-between; */
    border-bottom: 3px solid white;
}

#grid > div{
    min-height: var(--road-size);
    min-width: var(--road-size);
}

.duck{
    background-image: url('img/duck.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: tranform 0.3s;
}

.plant:not(.duck){
    background-image: url('img/plant.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.duckjump{
    transform: translate(0, -120%);
}