:root{
    --cell-size: 120px;
    --cell-gutter: 20px;
}
.cell{
    /* height: var(--cell-size);
    width: var(--cell-size); */
    min-height: 90px;
    min-width: 90px;
    margin-bottom: 10px;
    margin-left: 2px;
    border: 4px solid #ffff;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}