:root{
    --cell-size: 120px;
    --cell-gutter: 60px;
}

#grid{
    width: calc(var(--cell-size) * 4 + var(--cell-gutter));
    height: calc(var(--cell-size) * 4 + var(--cell-gutter));
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.cell{
    height: var(--cell-size);
    width: var(--cell-size);

    
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

.bug{
    background-image: url('./img/bug.png');
  
}

.splat{
    background-image: url('./img/bug-splat.png');
}