:root{
    --bg-color: #3535ec;
    --accent-color: #f70d68;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.4;
    color: #ffff;
}
body{
    background-color: var(--bg-color);
}
.background{
    background-color: var(--bg-color);
    height: 100vh;
}

/* tutte le immagini saranno grandi quando il loro contenitore */
img{
    max-width: 100%;
}
.gameList a{
    color: #ffff;
    text-decoration: none;
}
.gameList a:hover{
    color: var(--accent-color);
}

ul{
    list-style: none;
}

li{
    margin-bottom: 16px;
}

/* STRUTTURA BASE DEI GIOCHI */

/* .board{
    display: flex;
    flex-direction: row;
} */

/* .game-area{
    /* padding: 12px; 
   position: relative;
} */

.game-data{
    padding: 12px;
}

.GameTitle{
    font-size: 36px;
    margin-bottom: 16px;
}

.GameDescription{
    font-size: 16px;
    margin-bottom: 20px
}

/* ALERT */
.game-alert{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.game-alert-message{
    font-size: 40px;
    padding: 20px;
    background-color: var(--accent-color);
    text-align: center;
}

.home{
    background-color: var(--accent-color);
    color: white;
    padding: 10px 15px;
}

.home:hover{
    background-color: white;
    color: var(--accent-color);
}