:root{
    --cell-size: 40px;
    --grid-size: 15;
}

#grid{
    width: calc(var(--cell-size) * var(--grid-size) + 4px);
    height: calc(var(--cell-size) * var(--grid-size) + 4px);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;  
}

#grid > div{
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.alien{
    background-image: url(./img/alien.png);
}

.spaceship{
    background-image: url(./img/spaceship.png);
}

.laser{
    background-image: url(./img/laser.png);
}

.boom{
    background-image: url(./img/boom.png);
}